{% extends "base.html" %}
{% block subtitle %}
    <strong style="font-family: Nexon Lv2 Gothic;">법률 상담 (민사 상담)</strong>
{% endblock %}
{% block content %}
    <div class="row" style="width:auto; max-width: 100%;">
        <div class="col-1"></div>
        <div class="col-10">
            <form action="/menu1_spin" method="post">
                <table class="table table-borderless" style="width:auto; max-width: 100%;">
                    <tr>
                        <td><label for="question" style="font-family: Nexon Lv2 Gothic Light;"><b>법률 상담</b></label></td>
                        <td><textarea style="font-family: Nexon Lv2 Gothic Light;" name="question" id="question" cols="80" rows="5">당신의 상담 내용을 입력하세요.</textarea></td>
                    </tr>

                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button style="font-family: Nexon Lv2 Gothic Light;" type="submit" class="btn btn-primary mr-2">실행</button>
                            <button style="font-family: Nexon Lv2 Gothic Light;" type="reset" class="btn btn-secondary">취소</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}