{% extends "base.html" %}
{% block subtitle %}
    <strong style="font-family: Nexon Lv2 Gothic;">법률 상담 완료</strong>
{% endblock %}
{% block content %}
    <div class="row" style="width:auto; max-width: 100%;">
        <div class="col-2"></div>
        <div class="col-8">
            <table class="table" style="width:auto; max-width: 100%;">
                <tr>
                    <td style="font-family: Nexon Lv2 Gothic Light;"><b>질문</b></td>
                    <td>{{question | safe()}}</td>
                </tr>
                <tr>
                    <td style="font-family: Nexon Lv2 Gothic Light;"><b>답변</b></td>
                    <td>{{answer | safe()}}</td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="btn btn-primary" 
                                onclick="location.href='/menu1'"
                                style="font-family: Nexon Lv2 Gothic Light;">재실행</button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-1"></div>
    </div>
{% endblock %}