{% extends "base.html" %}
{% block subtitle %}
    <strong style="font-family: NEXON Lv2 Gothic;">준비 중입니다.</strong><small style="font-family: NEXON Lv2 Gothic Light;">조속히 진행하겠습니다.</small>
{% endblock %}
{% block content %}
    <div class="row">
        <table class="table">
            
            <tr>
                <td style="font-family: NEXON Lv2 Gothic Light;">불편을 끼쳐드려 죄송합니다.</td>
                <td>{{title|safe()}}</td>
            </tr>
            <tr>
                <td style="font-family: NEXON Lv2 Gothic Light;">준비 중입니다.</td>
                <td>{{content|safe()}}</td>
            </tr>

        </table>
    </div>
{% endblock %}